
target/

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.jdt.core.prefs

src/main/java/me/donnior/fava/FArrayList.java

.settings/org.eclipse.wst.common.component

.project

.classpath

*.svn-base
*.svn*
src/.DS_Store

src/main/resources/.DS_Store

src/main/resources/META-INF/.DS_Store

.DS_Store

showcase/.DS_Store
