body {
	width: 960px;
	margin: auto;
	min-height: 540px;
	padding: 10px;
	background-color: #9cf;

	font-family: Arial;
}


h2 {
	font-size: 130%;
	color: #333;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.3em;
}

a{
	text-decoration: none;
}

#body{
	-moz-border-radius: 15px
	-webkit-border-radius: 15px;
	border-radius: 15px;
	/*background-color: white;*/
}

#header h1{
	background-color: rgba(33,33,33,0.2);
	display: inline-block;
	padding: 10px;
	-moz-border-radius: 8px
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #eee;
}

#content{
	/*background-color: rgba(33,33,33,0.2);*/
	background-color: white;
	-moz-border-radius: 5px
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}


#sidebar{
	width: 240px;
	height: 540px;
	background-color: #e5ecf9;
	float: left;
}

#sidebar ul{
	margin-top: 50px;
}

#main{
	width: 700px;
	float: right;
	padding: 10px;
}

#clear{
	clear: both;
}

table{
	margin-top: 20px;
	width: 100%;

	border: 1px solid #C3D9FF;
	margin-bottom: 5px;
	margin-top: 5px;
	table-layout: fixed;
	word-break: break-all;
	border-collapse: separate;
	border-spacing: 0;	

}

tbody {
	display: table-row-group;
	vertical-align: middle;
}

table tbody  td{
	text-align: center;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	height: 2.3em;
}

tbody tr:nth-child(even) td, tbody tr.even td {
	background: #e5ecf9;
}

thead th {
	background: #c3d9ff;
	height: 2em;
}


.pagination{
	margin-top:10px;
	padding:10px;
}

.pagination a{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

#profile{
	background-color: #e5ecf9;
}

#profile p{
	margin: 10px 0;
	font-size: 1.4em;
	padding:10px;
}
#profile span{
	display: inline-block;
	font-weight: 200%;
	font-size: 1em; 
	color: #555;
}

#profile span.label{
	width: 100px;
	color: #999;
}